body, html {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.center-block {
    grid-column: 2;
    grid-row: 2;
    /*background-color: blue; !* Или любой другой цвет *!*/
    width: 100%;
    height: 100%;
}

.top-block {
    grid-column: span 3;
    grid-row: 1;
    /*background-color: blue; !* Или любой другой цвет *!*/
    width: 100%;
    height: 100%;
}

.bottom-block {
    grid-column: 2;
    grid-row: 3;
    /*background-color: blue; !* Или любой другой цвет *!*/
    width: 100%;
    height: 100%;
}

.section-title {
}

.section-item {
    background-color: lightgray;
}